  <div class="row">
    <div class="col-xs-12">
      <h4 class="login-default">Informações gerais</h4>
      <hr>
    </div>
  </div>
 
  <div class="form-group">
    <label class="login-default" for="name">Nome:</label>
    <input type="text" class="form-control" id="nome" placeholder="insira aqui seu nome">
  </div>
  <div class="form-group">
    <label class="login-default" for="username">Username:</label>
    <input type="text" class="form-control" id="sobrenome" placeholder="insira seu username">
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="login-default">Informações pessoais</h4>
      <hr>
    </div>
  </div>
  <div class="form-group">
    <label class="login-default" for="email">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="insira seu email">
  </div>
  <div class="form-group">
    <label class="login-default" for="password">Senha:</label>
    <input type="password" class="form-control" id="password" placeholder="insira sua senha">
  </div>
  <div class="form-group">
    <label class="login-default" for="confirmpassword">Confirme sua senha:</label>
    <input type="password" class="form-control" id="confirmpassword" placeholder="insira sua senha">
  </div>
    <div class="form-group">
    <label class="login-default" for="birthday">Data de nascimento:</label>
    <input type="text" class="form-control" id="birthday" placeholder="XX/XX/XXXXX">
  </div>
    <div class="form-group">
    <label class="login-default" for="CPF">CPF:</label>
    <input type="password" class="form-control" id="CPF" placeholder="XXX.XXX.XXX-XX" >
  </div>
     <div class="form-group">
    <label class="login-default" for="celular">Celular:</label>
    <input type="tel" class="form-control" id="celular" placeholder="(XX) <XXXXX-XXXX></XXXXX-XXXX>" >
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4 class="login-default">Endereço</h4>
      <hr>
    </div>
  </div>
    <div class="form-group">
    <label class="login-default" for="street">Logradouro:</label>
    <input type="password" class="form-control" id="street" placeholder="insira seu endereço">
  </div>
  <div class="form-group">
    <label class="login-default" for="city">Insira sua cidade:</label>
    <input type="password" class="form-control" id="city" placeholder="insira sua cidade">
  </div>  
  <div class="form-group">
    <button type="submit" class="btn btn-marsala-default">Salvar</button>
  </div>
