<%- contentFor('body') %>
<section id="account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4 class="title upper bold login-form">Registre-se</h4>
                <span class="title login-form">Crie um novo acesso</span>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <form action="" method="POST">
                    <% include ./../partials/account/form %>
                </form>
            </div>
        </div>
    </div>
</section>